absl-py==0.15.0
astunparse==1.6.3
async-timeout==4.0.3
blinker==1.8.2
cachetools==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
clang==5.0
click==8.1.7
colorama==0.4.6
Flask==2.0.3
flatbuffers==1.12
gast==0.4.0
google-auth==2.32.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.1.0
idna==3.7
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==2.15.0
Keras-Preprocessing==1.1.2
Markdown==3.6
MarkupSafe==2.1.5
numpy==1.19.5
oauthlib==3.2.2
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
pandas==2.0.3
protobuf==5.27.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.7
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==0.24.2
scipy==1.10.1
six==1.15.0
spotipy==2.24.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorflow==2.6.0
tensorflow-estimator==2.15.0
termcolor==1.1.0
threadpoolctl==3.5.0
typing-extensions==3.7.4.3
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
wrapt==1.12.1
zipp==3.19.2
